<html ng-app="EmisorApp">
<head>
    <title>Emisor Node JS html</title>
    <script src="bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="bower_components/ng-websocket/ng-websocket.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="js/emisor.js" type="text/javascript"></script>
</head>
<body ng-controller="emisorController">
    <input size="35" ng-model="lat"></input>
    <input size="35" ng-model="lng"></input>
    <input type="button" ng-click="createClient()" value="Create"></input>
    <input type="button" ng-click="sendMessage()" value="Message"></input>

    <input type="button" ng-click="sendEvent()" value="Event"></input>
</body>
</html>