<html ng-app="TrackingApp">
    <title>Receptor</title>
    <script src="bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="bower_components/ng-websocket/ng-websocket.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js" type="text/javascript"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js" type="text/javascript"></script>
    <script src="bower_components/leaflet-polylinedecorator/leaflet.polylineDecorator.js" type="text/javascript"></script>
    <script src="bower_components/leaflet.extra-markers/src/leaflet.extra-markers.js" type="text/javascript"></script>

    <link href="bower_components/leaflet/dist/leaflet.css" rel="stylesheet" type="text/css"/>
    <link href="bower_components/leaflet.extra-markers/src/leaflet.extra-markers.css" rel="stylesheet" type="text/css"/>
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>

    <script src="js/app.js" type="text/javascript"></script>

</head>
<body ng-controller="mapController">
The messages are:
{{messageReceived}}
<leaflet lf-center="center" paths="currentPaths" markers="markers" height="480px" width="100%" tiles="tiles" ></leaflet>


</body>
</html>